{{ define "main" }}

<div class="container-xl">
  <div class="row row-cards">

    <div class="col-md-6 col-xl-3">
      {{ partial "sidebars/profile.html" . }}
    </div>
    <div class="col-md-8 col-xl-9">
      <div class="row">
        <div class="col-lg-7">

          <div class="card">
            <div class="card-header">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-code" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <polyline points="7 8 3 12 7 16"></polyline>
                <polyline points="17 8 21 12 17 16"></polyline>
                <line x1="14" y1="4" x2="10" y2="20"></line>
              </svg>

              <h3 class="card-title">&nbsp;&nbsp;Tools & Frameworks used by me:</h3>
            </div>

            <div class="list-group list-group-flush list-group-hoverable">
              {{ range $list_index, $list_value := .Site.Params.arsenal_list }}


              <div class="list-group-item">
                <div class="row align-items-center">

                  <div class="col-auto">

                    <span class="avatar"
                      style="background: transparent url({{ index $.Site.Params.arsenal_list_images $list_index }}) no-repeat center;height:64px;width:64px;"></span>

                  </div>
                  <div class="col">
                    <div class="text-reset d-block" style="font-weight: bold;"><svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-big-right" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path
                          d="M4 9h8v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1z">
                        </path>
                      </svg>&nbsp;{{ . }}</div>

                    <div class="">{{ index
                      $.Site.Params.arsenal_list_message $list_index }}</div>
                  </div>
                  <div class="col-auto">
                    <a href="#" class="list-group-item-actions">
                      <!-- Download SVG icon from http://tabler-icons.io/i/star -->

                    </a>
                  </div>
                </div>
              </div>
              {{ end }}

            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <Br />
          <center>
            <h3 class="mb-3">My Open-Source Projects</h3>
          </center>
          <div class="row row-cards">
            {{ range $list_index, $list_value := .Site.Params.open_source_projects_name }}
            <div class="col-md-6 col-lg-12">
              <div class="card">
                <div class="row row-0">
                  <!--
                                    <div class="col-3">
                                        <img style="padding-left:12px;padding-top:12px;" src="{{ index
                                        $.Site.Params.open_source_projects_image $list_index }}" class="object-cover"
                                            alt="Card side image">
                                    </div>
                                    -->
                  <div class="col">
                    <div class="card-body">
                      <h3 class="card-title">{{ . }}</h3>
                      <p class="">{{ index
                        $.Site.Params.open_source_projects_message $list_index }}</p>
                      <a href="{{ index
                                                $.Site.Params.open_source_projects_link $list_index }}"><svg
                          xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link"
                          width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                          stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5">
                          </path>
                          <line x1="10" y1="14" x2="20" y2="4"></line>
                          <polyline points="15 4 20 4 20 9"></polyline>
                        </svg>&nbsp;Github
                        Link</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            {{ end }}


          </div>



        </div>
      </div>

    </div>

  </div>
</div>

{{end}}
