{{ define "main" }}

<div class="container-xl">
  <div class="row row-cards">

    <div class="col-md-6 col-xl-3">
      <div class="card">
        <div class="card-body text-center">
          <div class="mb-3">
            <span class="avatar avatar-xl avatar-rounded"
              style="background-image: url({{ .Site.Params.coder_photo }})"></span>
          </div>
          <div class="card-title mb-1">{{ .Site.Params.coder_name }}</div>
          <div class="text">{{ .Site.Params.coder_bio }}</div>




          <Br />
          <center>


            <a href="{{ .Site.Params.email_link }}" aria-label="Connect using email" class="btn"
              target="_blank">&nbsp;&nbsp;&nbsp;
              <!-- Download SVG icon from http://tabler-icons.io/i/brand-github -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-at" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="12" cy="12" r="4"></circle>
                <path d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28"></path>
              </svg>

            </a>

            <a href="{{ .Site.Params.linkedin_link }}" aria-label="Connect using linkedin" class="btn"
              target="_blank">&nbsp;&nbsp;&nbsp;
              <!-- Download SVG icon from http://tabler-icons.io/i/brand-github -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <rect x="4" y="4" width="16" height="16" rx="2"></rect>
                <line x1="8" y1="11" x2="8" y2="16"></line>
                <line x1="8" y1="8" x2="8" y2="8.01"></line>
                <line x1="12" y1="16" x2="12" y2="11"></line>
                <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
              </svg>

            </a>


            <a href="{{ .Site.Params.telegram_link }}" aria-label="Connect using telegram" class="btn"
              target="_blank">&nbsp;&nbsp;&nbsp;
              <!-- Download SVG icon from http://tabler-icons.io/i/brand-github -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-telegram" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path>
              </svg>
            </a>


          </center>




          <Br />
          <a href="{{ .Site.Params.github_link }}" class="btn btn-github w-100" target="_blank">
            <!-- Download SVG icon from http://tabler-icons.io/i/brand-github -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5">
              </path>
            </svg>
            Github Profile
          </a>

          <br /><Br />
          <a href="{{ .Site.Params.skillsets_link }}" class="btn btn-indigo w-100" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-tree" width="44"
              height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M9 6h11" />
              <path d="M12 12h8" />
              <path d="M15 18h5" />
              <path d="M5 6v.01" />
              <path d="M8 12v.01" />
              <path d="M11 18v.01" />
            </svg>
            Skillsets
          </a>


        </div>

      </div>
      <br />

      <div class="card">

        <div class="card-body">
          <p style="font-weight: bold; font-size: 20px;" class="card-title">My Code Development Philosophy</p>
          <p>Since programming code is an very structured form of creation, there are verstatile ways of
            creating code, there is a very huge scope of subjective choices to be made when building I.T
            infrastructures and keeping them reliable and resilient to their functionalities. Click on link
            below to read more about my programming philsophy and the best practices I discovered during my
            experience</p>
          <center>
            <div class="empty-img"><img src="./static/illustrations/undraw_quitting_time_dm8t.svg" height="128" alt="">
            </div>
            <div class="empty-action">
              <a href="/blog/my-coding-philosophy/" class="btn btn-github">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-forward" width="24"
                  height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                  stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M15 11l4 4l-4 4m4 -4h-11a4 4 0 0 1 0 -8h1"></path>
                </svg>
                Read Full Article
              </a>
            </div>
          </center>
        </div>
      </div>




    </div>

    <div class="col-md-8 col-xl-9">

      <div class="card">
        <div class="card-header">
          <div>
            <div class="row align-items-center">

              <div class="col">
                <div class="card-title" style="font-size:19px;">👋 Hey, I'm Anil Dewani.</div>

              </div>
            </div>
          </div>

        </div>
        <div class="card-body p-0">
          <p style="padding:10px;font-size:16px;">
            I'm an tech-enthusiast with a sound grip on very diverse set of technical toolsets which help me
            manifest ideas into functional and reliable tech systems.
            <br /><br />
            I've special expertise in managing I.T infrastructures for deploying highly-available and
            scalable web applications.
            I admire the art of optimising and enhancing Business Logic and creating functional S.O.P for
            business operations.
            <br /><br />
            In my free time, I try to give back to the world by releasing open-source projects.
            <br />
          </p>





        </div>

      </div>
      <Br />
      <br />
      <center>
        <p style="font-weight: bold; font-size: 16px;" class="mb-3">Recent Blog Posts:</p>
      </center>
      <div class="row row-cards">



        {{ range (first 2 (first 2 ( where .Site.Pages "Type" "blog" ).ByDate.Reverse ) ) }}
        <div class="col-lg-4">
          <div class="card">
            <div class="card-status-top bg-primary"></div>
            <div class="card-img-bottom img-responsive img-responsive-21x9"
              style="background-image: url({{ .Params.cover_photo }});padding-top:18%;"></div>
            <div class="card-body">
              <a class="card-title" href="{{ .Permalink }}"> {{ .Title }}</a>
              <p class="text-muted">{{ .Summary }}</p>
            </div>
            <div class="card-footer">

              <div class="d-flex">
                {{ .Params.read_time }} read
              </div>
            </div>
          </div>
        </div>

        {{ end }}




      </div>
      <br />
      <center>
        <h3 class="mb-3">Current Open Source Projects:</h3>
      </center>

      <div class="row row-cards">
        {{ range $list_index, $list_value := .Site.Params.open_source_projects_name }}
        <div class="col-lg-6">
          <div class="card">
            <div class="row row-0">
              <!--
                            <div class="col-3">
                                <img style="padding-left:12px;padding-top:12px;" src="{{ index
                                $.Site.Params.open_source_projects_image $list_index }}" class="object-cover"
                                    alt="Card side image">
                            </div>
                            -->
              <div class="col">
                <div class="card-body">
                  <h3 class="card-title">{{ . }}</h3>
                  <p class="">{{ index
                    $.Site.Params.open_source_projects_message $list_index }}</p>
                  <a href="{{ index
                                        $.Site.Params.open_source_projects_link $list_index }}"><svg
                      xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="24"
                      height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                      stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5">
                      </path>
                      <line x1="10" y1="14" x2="20" y2="4"></line>
                      <polyline points="15 4 20 4 20 9"></polyline>
                    </svg>&nbsp;Github
                    Link</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        {{ end }}


      </div>



    </div>

  </div>
</div>

{{end}}
