{{ define "main" }}

<div class="container-xl">
  <div class="row row-cards">

    <div class="col-md-6 col-xl-3">
      {{ partial "sidebars/profile.html" . }}
      <br />

    </div>

    <div class="col-md-8 col-xl-9">

      <div class="card">
        <div class="card-header">
          <div>
            <div class="row align-items-center">

              <div class="col">
                <div class="card-title" style="font-size:19px;">👋 Hey, I'm Anil Dewani.</div>

              </div>
            </div>
          </div>

        </div>
        <div class="card-body p-0">
          <p style="padding:10px;font-size:16px;">
            I'm an tech-enthusiast with a sound grip on very diverse set of technical toolsets which help me
            manifest ideas into functional and reliable tech systems.
            <br /><br />
            I've special expertise in managing I.T infrastructures for deploying highly-available and
            scalable web applications.
            I admire the art of optimising and enhancing Business Logic and creating functional S.O.P for
            business operations.
            <br /><br />
            In my free time, I try to give back to the world by releasing open-source projects.
            <br />
          </p>





        </div>

      </div>
      <Br />
      <br />
      <center>
        <p style="font-weight: bold; font-size: 16px;" class="mb-3">Recent Blog Posts:</p>
      </center>
      <div class="row row-cards">



        {{ range (first 3 (first 3 (where .Site.Pages "Type" "blog" ).ByDate.Reverse ) ) }}
        <div class="col-lg-4">
          <div class="card">
            <div class="card-status-top bg-primary"></div>
            <div class="card-img-bottom img-responsive img-responsive-21x9"
              style="background-image: url({{ .Params.cover_photo }});padding-top:18%;"></div>
            <div class="card-body">
              <a class="card-title" href="{{ .Permalink }}"> {{ .Title }}</a>
              <p class="text-muted">{{ .Summary }}</p>
            </div>
            <div class="card-footer">

              <div class="d-flex">
                {{ .Params.read_time }} read
              </div>
            </div>
          </div>
        </div>

        {{ end }}




      </div>
      <br />
      <center>
        <h3 class="mb-3">Current Open Source Projects:</h3>
      </center>

      <div class="row row-cards">
        {{ range $list_index, $list_value := .Site.Params.open_source_projects_name }}
        <div class="col-lg-6">
          <div class="card">
            <div class="row row-0">
              <!--
                            <div class="col-3">
                                <img style="padding-left:12px;padding-top:12px;" src="{{ index
                                $.Site.Params.open_source_projects_image $list_index }}" class="object-cover"
                                    alt="Card side image">
                            </div>
                            -->
              <div class="col">
                <div class="card-body">
                  <h3 class="card-title">{{ . }}</h3>
                  <p class="">{{ index
                    $.Site.Params.open_source_projects_message $list_index }}</p>
                  <a href="{{ index
                                        $.Site.Params.open_source_projects_link $list_index }}"><svg
                      xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-external-link" width="24"
                      height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                      stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5">
                      </path>
                      <line x1="10" y1="14" x2="20" y2="4"></line>
                      <polyline points="15 4 20 4 20 9"></polyline>
                    </svg>&nbsp;Github
                    Link</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        {{ end }}


      </div>



    </div>

  </div>
</div>

{{end}}
